body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0d90b;
}

header {
  background-color: #f1eff7;
  color: rgb(33, 18, 240);
  padding: 10px 0;
  text-align: center;
}

.slider {
  width: 60%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.slides {
  display: flex;
  width: 200%;
  transition: 0.3s;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.navigation-auto {
  position: absolute;
  width: 80%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 0.4s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.navigation-manual {
  position: absolute;
  width: 80%;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.purchase-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* Sliders Positioning */
#radio1:checked ~ .slides {
  margin-left: 0;
}

#radio2:checked ~ .slides {
  margin-left: -20%;
}

#radio3:checked ~ .slides {
  margin-left: -40%;
}

#radio4:checked ~ .slides {
  margin-left: -60%;
}

#radio5:checked ~ .slides {
  margin-left: -80%;
}

/* Auto navigation styling */
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: white;
}
